<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>crawl data</title>
  </head>
  <body>
    <h1>Daily songs on Nhaccuatui</h1>
    <div class=""> <% music.forEach(function() { %>
      <img src= "<%= music.image %>" alt="">
      <h3> <a href="<%= music.link %>"> <%= music.songTitle %> </a></h3>
      <p> <%= music.artist %> </p>
    <% }) %> </div>
  </body>
</html>
